/* 杀死页脚版权及时间 */
 .framework-info {
    display: none!important;
  }
  .copyright {
    display: none!important;
  }
  
  /* 底部页脚大改 */
  #footer {
    display: flex;
    flex-direction: column;
  }
  #footer-wrap {
    padding: 0;
  }
  #mj-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 0 1rem;
  }
  #mj-footer .footer-group {
    min-width: 120px;
  }
  #mj-footer .footer-title {
    color: var(--dark_bg_color);/*标题*/
    font-size: 1rem;
    text-align: left;
  }
  #mj-footer .footer-links {
    display: flex;
    flex-direction: column;
  }
  #mj-footer .footer-item {
    font-size: 1rem;
    margin-right: auto;
  }
  #mj-footer .footer-group .footer-links a{
  text-decoration: none;
  }
  #mj-footer .footer-group .footer-links a:hover{
      text-decoration: none; /* 去除下划线 */
      color: #9c9;/* 超链接颜色 */
    }
  div#footer_deal {
    justify-content: center;
    display: flex;
    padding-top: 2rem;
    align-items: center;
  }
  div#footer_deal a{
    margin: 1rem 27px;
    font-size: 24px;
    line-height: 1.3rem;
    border-radius: 3rem;
  }
  div#footer_deal a:hover{
    text-decoration: none; /* 去除下划线 */
    color: #9c9;/* 超链接颜色 */
  }
  /* 页脚底部信息页 */
  #footer-info {
    padding: 1rem;
    color: #fff;
    background: linear-gradient(208deg,#4584ff 0,#4584ff 11%,#ff7676 100%);
    display: flex;
    overflow: hidden;
  }
  [data-theme=dark] #footer-info {
    background: var(--text-bg-hover);
  }
  #footer-info .footer-info-links {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  #footer-info .footer-info-left {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-info-right {
    display: block;
  }
  #footer-info .footer-info-link {
    margin-right: 1rem;
    font-size: .9rem;
    font-weight: 700;
    white-space: nowrap;
  }
  #footer-info a.footer-info-link:hover {
    color: #9c9;/* 超链接颜色 */
    text-decoration: none;
  }
  #footer-info .footer-info-tips{
    font-weight: 700;
  }
  #footer {
    background: #99CC99;
}
#footer:before {
    background-color: rgba(0, 0, 0, 0);
}
